@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body{
  align-content: center;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  margin: auto;
}

p {
  font-weight: bold;
  font-size: 27px;
}

h1 {
    color: #484848;
}

section {
  text-align: center;
  position: relative;
}

img {
  border: 4px #484848 solid;
  border-radius: 10%;
  margin: auto;
  box-shadow: 10px 10px 10px 10px gainsboro;
}

.pink, .green, .blue, .yellow, .red, .purple {
  position: absolute;
}

.pink {
  color: #F925FF;
  top: 200px;
  left: 58%;
}

.green {
  color: #21E863;
  top: 10px;
  left: 30%;
}
.blue {
  color: #428BFF;
  top: 100px;
  left: 65%;
}

.yellow {
  color: #FFFE5F;
  top: 250px;
  left: 35%;
}

.red {
  color: red;
  top: 350px;
  left: 60%;
}

.purple {
  color: #A836FF;
  top: 400px;
  left: 32%;
}
